@model CLDVPOE.Models.Venue

<h2>Add Venue</h2>

@if (!ViewData.ModelState.IsValid) //simply displays validation errors in red if the model state is invalid, mostly used to warn that the user has not filled something i
{
    <div style="color:red">
        @Html.ValidationSummary(false)
    </div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div>
        <label asp-for="VenueName">Name</label>
        <input asp-for="VenueName" />
        <span asp-validation-for="VenueName" style="color:red"></span>
    </div>

    <div>
        <label asp-for="Location">Location</label>
        <input asp-for="Location" />
        <span asp-validation-for="Location" style="color:red"></span>
    </div>

    <div>
        <label asp-for="Capacity">Capacity</label>
        <input asp-for="Capacity" />
        <span asp-validation-for="Capacity" style="color:red"></span>
    </div>

    <div>
        <label>Upload Image</label>
        <input type="file" name="imageFile" />
    </div>

    <button type="submit">Save</button>
</form>