@model CLDVPOE.Models.Event

<h2>Add Event</h2>

@if (!ViewData.ModelState.IsValid) //simply displays validation errors in red if the model state is invalid, mostly used to warn that the user has not filled something i
{
    <div style="color:red">
        @Html.ValidationSummary(false)
    </div>
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div>
        <label asp-for="EventName">Name</label>
        <input asp-for="EventName" />
        <span asp-validation-for="EventName" style="color:red"></span>
    </div>

    <div>
        <label asp-for="StartDate">Start Date</label>
        <input asp-for="StartDate" type="date" />
        <span asp-validation-for="StartDate" style="color:red"></span>
    </div>

    <div>
        <label asp-for="EndDate">End Date</label>
        <input asp-for="EndDate" type="date" />
        <span asp-validation-for="EndDate" style="color:red"></span>
    </div>

    <div>
        <label asp-for="EventDescription">Description</label>
        <textarea asp-for="EventDescription"></textarea>
        <span asp-validation-for="EventDescription" style="color:red"></span>
    </div>

    <button type="submit">Save</button>
</form>