@model CLDVPOE.Models.Event

<h2>Delete Event</h2>

<p>Are you sure you want to delete <strong>@Model.EventName</strong>?</p>

@if (!ViewData.ModelState.IsValid) //helps to display an error in red if the user has tried to delete an event with an active booking
{
    <div style="color:red">
        @Html.ValidationSummary(false)
    </div>
}

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="EventID" />
    <button type="submit" style="color:red">Yes, Delete</button>
    <a href="/Event">Cancel</a>
</form>