@model CLDVPOE.Models.Booking

<h2>Delete Booking</h2>

<p>Are you sure you want to delete this booking?</p>

@if (!ViewData.ModelState.IsValid)
{
    <div style="color:red">
        @Html.ValidationSummary(false)
    </div>
}
<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="BookingID" />
    <button type="submit" style="color:red">Yes, Delete</button>
    <a href="/Booking">Cancel</a>
</form>