@model IEnumerable<CLDVPOE.Models.Booking>

<h2>Bookings</h2>
<a class="button" href="/Booking/Create">Create Booking</a>

<table>
    <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Event</th>
        <th>Venue</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.BookingDate.ToShortDateString()</td>
            <td>@b.BookingStatus</td>
            <td>@b.Event?.EventName</td>
            <td>@b.Venue?.VenueName</td>
        </tr>
    }
</table>